@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    <strong>Pat:</strong> <a href="mailto:patrick.fulton@zirmed.com">patrick.fulton@zirmed.com</a>
    <strong>Dustin:</strong> <a href="mailto:dustin.crawford@zirmed.com">dustin.crawford@zirmed.com</a>
    <strong>Nicolas:</strong> <a href="mailto:nick.wolf@zirmed.com">nick.wolf@zirmed.com</a>
    <strong>Dustin2:</strong> <a href="mailto:dustin.crawford@zirmed.com">dustin.crawford@zirmed.com</a>
    <strong>Travis:</strong> <a href="mailto:travis.elkins@zirmed.com">travis.elkins@zirmed.com</a>
    <strong>Travis2:</strong> <a href="mailto:travis.elkins@zirmed.com">travis.elkins@zirmed.com</a>
    <strong>Stephanie:</strong> <a href="mailto:stephanie.craig@zirmed.com">stephanie.craig@zirmed.com</a>
    <strong>Bruce Wayne:</strong>
    <strong>Larry Briggs:</strong>
    <strong>Clark Kent:</strong> <a href="mailto:superman.com">superman.com</a>
    <strong>Peter Parker:</strong> <a href="mailto:spider-man.com">spider-man.com</a>
    <strong>Oliver Queen:</strong>
    <strong>Barry Allen:</strong>
    <strong>Bob: </strong>
    <strong>Bruce Banner:</strong> <a href="#">Hulk.com</a>
    <strong>Wade Winston Wilson:</strong> <a href="#">Deadpool.com</a>
    <strong>Diana Prince:</strong> <a href="#">WonderWoman.com</a>
    <strong>Scott Lang:</strong> <a href="#">Ant-Man.com</a>
</address>